<%= form_for(@water_frequency) do |f| %>
  <% if @water_frequency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@water_frequency.errors.count, "error") %> prohibited this water_frequency from being saved:</h2>

      <ul>
      <% @water_frequency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Tipo de planta' %><br>
    <%= f.collection_select(
      :plant_type_id, PlantType.all, :id, :name, {prompt: "Selecionar"},
      class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= f.label 'Zona climática' %><br>
    <%= f.collection_select(
      :climate_zone_id, ClimateZone.all, :id, :name, {prompt: "Selecionar"},
      class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= f.label 'Xícaras de água' %><br>
    <%= f.text_field :value, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'Frequência por semana' %><br>
    <%= f.number_field :frequency, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'Observações' %><br>
    <%= f.text_area :observation, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Submeter', class: 'btn btn-default' %>
  </div>
<% end %>
