<p id="notice"><%= notice %></p>

<h1>Listing Water Frequencies</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Value</th>
      <th>Frequency</th>
      <th>Observation</th>
      <th>Plant type</th>
      <th>Climate zone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @water_frequencies.each do |water_frequency| %>
      <tr>
        <td><%= water_frequency.value %></td>
        <td><%= water_frequency.frequency %></td>
        <td><%= water_frequency.observation %></td>
        <td><%= water_frequency.plant_type.name %></td>
        <td><%= water_frequency.climate_zone.name %></td>
        <td><%= link_to 'Show', water_frequency %></td>
        <td><%= link_to 'Edit', edit_water_frequency_path(water_frequency) %></td>
        <td><%= link_to 'Destroy', water_frequency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Water frequency', new_water_frequency_path %>
